.env
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/routesapi.iml
/.idea/vcs.xml
/.idea/*
/venv/
/instance/_db.sqlite3
#static
# PRASA additions
__pycache__/
*.pyc
.DS_Store
instance/db.sqlite3.bak_*
static/data/_GTFS/
